body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    color: #000;
    text-shadow: rgba(0, 0, 0, 0.932) 1px 1px 3px;
}
*{
    margin: 0;
    padding: 0;
}

.container{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black;
    top: 200px;
    position: relative;
    text-align: center;
}
#price{
    width: 50px;
    height: 20px;
    text-align: center;
    color: #fff;
    margin: 5px auto;
    background-color: rgb(219, 189, 54);
    box-shadow: rgb(121, 109, 109) 2px 2px 9px;
}