body {
    font-family: "Dosis", serif;
    background: #fafafa;
}

.scrolldown_btn {
    position: fixed;
}

.container {
    padding: 0 30px;
}

.page_wrapper {
    position: relative;
    background: #00b3e6;
}

.navigation {
    position: relative;
}

.navigation .top,
.navigation .second {
    position: relative;
    width: 100%;
}

.navigation .logo_wrapper {
    padding: 40px 0;
}

.navigation .left {
    width: 80%;
    float: left;
    margin-top: 19px;
}

.navigation .right {
    width: 20%;
    float: left;
}

.clearfix::after,
.clearfix::before {
    display: table;
    content: "";
}

.clearfix::after {
    clear: both;
}

.navigation .navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navigation .navbar .item {
    display: inline-block;
    float: left;
}

.navigation .navbar .link-item {
    text-decoration: none;
    color: #000;
    padding: 15px 20px;
    font-size: 18px;
    text-transform: uppercase;
}

.navigation .navbar .link-item:nth-child(1) {
    padding-left: 0;
}

.navigation .signup,
.navigation .login {
    position: relative;
    float: right;
}

.navigation .signup a,
.navigation .login a {
    padding: 20px;
    text-decoration: none;
    color: #00b3e6;
    background: #ffdd30;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    transition: all 2s ease;
}

.navigation .signup a:hover,
.navigation .login a:hover {
    background: #000;
    color: #fff;
}